body {
    font-family: 'Noto Emoji', sans-serif;
}

h1, h2 {
    text-align: center;
}

.buttons {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 2em;
    height: 2em;
    font-size: 5rem;
}